<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>Appointment-Booking-System</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DoctorServlet</servlet-name>
		<display-name>DoctorServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.DoctorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookAppointmentServlet</servlet-name>
		<display-name>BookAppointmentServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.BookAppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ConfirmAppointmentServlet</servlet-name>
		<display-name>ConfirmAppointmentServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.ConfirmAppointmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AllAppointmentsServlet</servlet-name>
		<display-name>AllAppointmentsServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.AllAppointmentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<display-name>DashboardServlet</display-name>
		<description></description>
		<servlet-class>com.project.servlet.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DoctorServlet</servlet-name>
		<url-pattern>/DoctorServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookAppointmentServlet</servlet-name>
		<url-pattern>/BookAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConfirmAppointmentServlet</servlet-name>
		<url-pattern>/ConfirmAppointmentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AllAppointmentsServlet</servlet-name>
		<url-pattern>/AllAppointmentsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/DashboardServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>
</web-app>
